<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cgp_driver_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>100000</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
				<key>dateExpires</key>
				<string>3/9/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>10.29.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>10.29.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>23.10.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>23.10.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.0.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCoreMaps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCoreNavigation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>2.18.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxDirections.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>2.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxMaps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>30</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxMobileEvents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxNavigation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>2.18.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>938467</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxNavigationNative.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>204.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxSpeech.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NWWebSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.5.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Polyline.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PusherSwiftWithEncryption.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Solar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Turf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TweetNacl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_callkit_incoming.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_mapbox_navigation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>pusher_client_fixed.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0A3DD9F1AC2AC561613929CBA44DEEEF267D653B</string>
						<key>dateExpires</key>
						<string>3/9/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>vibration.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZV3RJNTVX5</string>
						<key>name</key>
						<string>S M  Arifuzzaman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.5</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZV3RJNTVX5.com.revinr.cgpDriverApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZV3RJNTVX5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>44b9a799-fdcd-470b-9517-fa4b15a819c1</string>
				<key>dateExpires</key>
				<string>3/9/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.revinr.cgpDriverApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZV3RJNTVX5</string>
				<key>name</key>
				<string>S M  Arifuzzaman</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
